assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/
node_modules/
assets/
cms/
framework/
composer.json
composer.lock
favicon.ico